<#-- 引入布局指令的命名空间 --> 
<#import "/common/layout.html" as defaultLayout>

<#-- 调用布局指令 --> 
<@defaultLayout.layout>


<div class="am-cf am-padding am-padding-bottom-0">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">系统管理</strong> / <small>菜单管理</small>
	</div>
</div>

<hr>

<div class="am-g">

</div>

<div class="am-g">
	<div class="am-u-sm-12">

	</div>
</div>

</@defaultLayout.layout>
<script src="${rc.contextPath}/static/plugins/tree/amazeui.tree.min.js"></script>
<script>
$(function(){
	

})
</script>
