<#-- 引入布局指令的命名空间 -->
<#import "/common/layout.html" as defaultLayout>
<#assign own_js="sys/resource/list_js.html" in defaultLayout>
<#assign own_css="sys/resource/list_css.html" in defaultLayout>

<#-- 调用布局指令 --> 
<@defaultLayout.layout>


<div class="am-cf am-padding am-padding-bottom-0">
	<div class="am-fl am-cf">
		<strong class="am-text-primary am-text-lg">系统管理</strong> / <small>菜单管理</small>
	</div>
</div>

<hr>

<div class="am-g">
	<div class="am-u-sm-6">
		<ul id="resource-tree" class="ztree"></ul>
	</div>


	<div class="am-u-sm-6">

		<form class="am-form am-form-horizontal">
			<div class="am-form-group">
				<label for="name" class="am-u-sm-2 am-form-label">名称</label>
				<div class="am-u-sm-10">
					<input type="text" id="name" placeholder="名称">
				</div>
			</div>

			<div class="am-form-group">
				<label for="description" class="am-u-sm-2 am-form-label">描述</label>
				<div class="am-u-sm-10">
					<input type="text" id="description" placeholder="描述">
				</div>
			</div>

			<div class="am-form-group">
				<label for="icon" class="am-u-sm-2 am-form-label">图标</label>
				<div class="am-u-sm-10">
					<input type="password" id="icon" placeholder="图标">
				</div>
			</div>

			<div class="am-form-group">
				<label for="url" class="am-u-sm-2 am-form-label">路径</label>
				<div class="am-u-sm-10">
					<input type="password" id="url" placeholder="路径">
				</div>
			</div>

			<div class="am-form-group">
				<label for="permission" class="am-u-sm-2 am-form-label">权限</label>
				<div class="am-u-sm-10">
					<input type="password" id="permission" placeholder="权限">
				</div>
			</div>

			<div class="am-form-group">
				<label for="type" class="am-u-sm-2 am-form-label">类型</label>
				<div class="am-u-sm-10">
					<input type="password" id="type" placeholder="类型">
				</div>
			</div>

			<div class="am-form-group">
				<label for="sort" class="am-u-sm-2 am-form-label">排序</label>
				<div class="am-u-sm-10">
					<input type="password" id="sort" placeholder="排序">
				</div>
			</div>

			<div class="am-form-group">
				<label for="role" class="am-u-sm-2 am-form-label">角色</label>
				<div class="am-u-sm-10">
					<select id="role"> <#list roleList as role>
						<option value="${role.id}">${role.name}</option> </#list>
					</select>
				</div>
			</div>

			<div class="am-form-group">
				<div class="am-u-sm-10 am-u-sm-offset-2">
					<button type="button" class="am-btn am-btn-primary am-btn-xs" id="submit">保存</button>
				</div>
			</div>
		</form>

	</div>
</div>

</@defaultLayout.layout>