<script src="${rc.contextPath}/static/plugins/ztree/js/jquery.ztree.all.min.js"></script>
<script>

    $(function(){
        var treeObj = $.fn.zTree.init($("#resource-tree"), setting);
    });

    var tree = (function() {
        return {
            addHoverDom : function(){
                console.log("addHoverDom");
            },

            removeHoverDom : function(){
                console.log("removeHoverDom");
            },

            zTreeOnRename : function(event, treeId, treeNode, isCancel){
                console.log(event);
                console.log(treeId);
                console.log(treeNode);
                console.log(isCancel);
//                if(!isCancel){
//                    $.post("${rc.contextPath}/sys/resource/edit", treeNode);
//                }
            },

            zTreeOnRemove : function(event, treeId, treeNode){
                console.log(event);
                console.log(treeId);
                console.log(treeNode);
//                $.post("${rc.contextPath}/sys/resource/remove", treeNode);
            },

            zTreeOnClick : function(event, treeId, treeNode, clickFlag){
                $.get("${rc.contextPath}/sys/resource/get/" + treeNode.id, function(result){
                    if(result.code == 1){
                        var data = result.data;

                        $("input[name='name']").val(data.name);
                        $("input[name='description']").val(data.description);
                        $("input[name='permission']").val(data.permission);
                        $("input[name='url']").val(data.url);
                        $("input[name='type']").val(data.type);
                        $("input[name='sort']").val(data.sort);

                    } else {

                    }
                });
            }

        }
    })();

    // zTree 的参数配置，深入使用请参考 API 文档（setting 配置详解）
    var setting = {
        async: {
            enable: true,
            url:"${rc.contextPath}/sys/resource/getAllResource",
            autoParam:["id", "name", "pId=parentId", "iconSkin=icon"]
        },
        edit: {
            enable: true
        },
        view: {
            expandSpeed:"fast",
            selectedMulti: false,
            showIcon: false,
            addHoverDom: tree.addHoverDom,
            removeHoverDom: tree.removeHoverDom,
        },
        data: {
            simpleData: {
                enable: true,
                idKey: "id",
                pIdKey: "parentId",
                rootPId: 0
            }
        },
        callback: {
            onRename: tree.zTreeOnRename,
            onRemove: tree.zTreeOnRemove,
            onClick: tree.zTreeOnClick
        }
    };
    // zTree 的数据属性，深入使用请参考 API 文档（zTreeNode 节点数据详解）
    var zNodes = [
        {name:"test1", open:true, children:[
            {name:"test1_1"}, {name:"test1_2"}]},
        {name:"test2", open:true, children:[
            {name:"test2_1"}, {name:"test2_2"}]}
    ];


</script>