<script>
    $(function() {

        $("#submit").click(function() {
            admin.submit();
        });

        $("#goback").click(function() {
            admin.goback();
        });

    });

    var admin = (function() {
        return {

            submit : function() {
                var data = {}, url = "${rc.contextPath}/sys/role/add";

                $("input").each(function(i, n){
                    var that = $(this);
                    var attrName = that.attr("id");
                    data[attrName] = that.val();
                });

                $.post(url, data)
                    .done(function(result){
                        if(result.code == 1){
                            window.location.href = '${rc.contextPath}/sys/role/list';
                        } else {
                            alert(result.message);
                        }
                    })
                    .fail(function(result){
                        alert(result.message);
                    })

            },

            goback : function() {
                window.history.go(-1);
            },
        }

    })();
</script>